@model IEnumerable<IntexNWLP.Models.Assay_Type>
@{
    ViewBag.Title = "CreateOrder";
}

<h2 style="text-align:center;">Place an Order</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="crazyform">

    <h1>Fill out the following information to create a new order</h1>

    <div class="contentform">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="leftcontact">
            <div class="form-group">
                <p>Compound Name<span>*</span></p>
                <input class="form-control text-box single-line" id="compoundName" name="compoundName" type="text" value="" required>
            </div>
            <div class="form-group">
                <p>Compound Description<span>*</span></p>
                <input class="form-control text-box single-line" id="compoundDescription" name="compoundDescription" type="text" value="" required>
            </div>
            <div class="form-group">
                <p>Enter the number of samples of the compound<span>*</span></p>
                <input class="form-control text-box single-line" id="numberOfSamples" name="numberOfSamples" type="text" value="" required>
            </div>

            <div class="form-group">
                <p>Enter the quantity of the sample in milligrams<span>*</span></p>

                <input class="form-control text-box single-line" id="quantity" name="quantity" type="text" value="" required>

            </div>

            <div class="form-group">
                <p>Enter weight of compound:<span>*</span></p>

                <input class="" id="weight" name="weight" type="text" value="" required>

            </div>

            @*<div class="form-group">
                    <label class="control-label col-md-2" for="mtd">Enter maximum tolerated dose (for animal testing only): </label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="mtd" name="mtd" type="text" value="">
                    </div>
                </div>*@

            <div class="form-group">
                <p>Would you like to run all conditional tests, regardless of if they are necessary? (check box to confirm "yes")<span>*</span></p>
                <input type="checkbox" class="" name="runConditionals" />
            </div>
        </div>

        <div class="rightcontact">

            <div class="form-group">
                <p><strong>Select Assays:</strong><span>*</span></p>
                @foreach (var item in Model)
                {
                    <p>@Html.DisplayFor(modelItem => item.assayName)</p>
                    <input type="checkbox" class="" name="assay-@item.assayTypeId" />
                }

            </div>

            <div class="form-group">
                <p>Enter additional information: </p>
                <input class="form-control text-box single-line" id="comments" name="comments" type="text" value="">
            </div>
        </div>

    </div>

    <button type="submit" value="Place Order" class="button-submit">Place Order</button>
    </div>

}

