
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Northwest Labs Customer Portal!</h2>

@Html.ActionLink("Create an Order", "CreateOrder") | 
@Html.ActionLink("Browse Catalog", "Browse") | 
@Html.ActionLink("Check Order Status", "CheckStatus")
@*@Html.ActionLink("View Past Orders", "PastOrders")*@

