
@{
    ViewBag.Title = "Index";
}

<h2>Welcome! Choose an option below:</h2>

<div class="row empPortal">
    <div class="col-md-4 portalOption">
        <a>@Html.ActionLink("Receive an Order", "ReceiveOrder", null, new { @class = "btn btn-default portalButton" })</a>
    </div>

    <div class="col-md-4 portalOption">
        <a>@Html.ActionLink("Schedule Assays", "Index", null, new { @class = "btn btn-default portalButton" })</a>
    </div>

    <div class="col-md-4 portalOption">
        <a>@Html.ActionLink("Upload Assay Test Results", "Create", null, new { @class = "btn btn-default portalButton" })</a>
    </div>
</div>
