
@{
    ViewBag.Title = "Index";
}

<h2>Welcome! Choose an option below:</h2>

<div class="row empPortal">
    <div class="col-md-4 portalOption">
        <button class="btn btn-default portalButton">@Html.ActionLink("Receive an Order", "ReceiveOrder")</button>
    </div>

    <div class="col-md-4 portalOption">
        <button class="btn btn-default portalButton">Schedule Assays</button>
    </div>

    <div class="col-md-4 portalOption">
        <button class="btn btn-default portalButton">@Html.ActionLink("Perform a Test", "Create", "Assay_Test", null, null)
</button>
    </div>
</div>
