
@{
    ViewBag.Title = "Index";
}

<h2>Welcome! Choose an item</h2>

@Html.ActionLink("Receive an Order", "ReceiveOrder")
@Html.ActionLink("Schedule Assays", "Schedule")
@Html.ActionLink("Perform a test", "ChooseTest")

