@model IEnumerable<IntexNWLP.Models.Order>

@{
    ViewBag.Title = "ReceiveOrder";
}

<h2>Find Order:</h2>

<p><b>@ViewBag.notFound</b></p>

@using (Html.BeginForm("ReceiveOrder", "Lab", FormMethod.Post))
{
    <label for="inputEmail">Order Number:</label>
    @Html.TextBox("Order")
    <button type="submit">Submit</button>
}
