@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Northwest Labs Pharmaceutical</h2>
<br />

<p>Northwest Labs Pharmaceutical provides chemical and compound tests for companies needing 
    in-depth assay analysis. An assay analysis is a set of physical, chemical, atomic, and 
    biological tests that are conducted on a chemical compound or drug to determine its characteristics. 
    These tests could include purely laboratory type tests and/or biological tests on live animals. 
    Northwest Labs markets to many different chemical and pharmaceutical companies needing analysis work 
    done on any number of different compounds and drugs. Northwest Labs is a global business with pharmaceutical 
    labs in Singapore and corporate offices located in Seattle.</p>
