@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="mainJumbo">
    <h1>Northwest Labs Pharmaceutical</h1>
</div>

<div class="row mainPage">
    <div class="col-md-4 mainDivs">
        <i class="fa fa-flask fa-3x" aria-hidden="false"></i>
        <h2>Send us a test sample</h2>
        <p>
            Send us a sample of the compound or material you want tested along with the work order form. 
            We will begin the tests as soon as we receive the supplies.
        </p>
    </div>
    <div class="col-md-4 mainDivs">
        <i class="fa fa-check fa-3x" aria-hidden="true"></i>
        <h2>We complete the test</h2>
        <p>
            Our professionals in Singapore have ample experience in lab testing and will quickly and accurately
            test the subject you send us.
        </p>
    </div>
    <div class="col-md-4 mainDivs">
        <i class="fa fa-bell fa-3x" aria-hidden="true"></i>
        <h2>We notify you</h2>
        <p>
            We will notify you when the test is complete and the results are ready. If, throughout the process,
            you wonder about the status of your test, come check the test status here.
        </p>
        <p><a class="btn btn-default" href="CustomerPortal/Index">Login to begin &raquo;</a></p>
    </div>
</div>