
@{
    ViewBag.Title = "Logout";
}

<p class="lock"><i class="fa fa-lock fa-5x" aria-hidden="true"></i></p>

<h2 class="lock">You have successfully been logged out.</h2>

<p class="lock">@Html.ActionLink("Return to home", "Index", "Home")</p>

