@{
    ViewBag.Title = "Index";
}

<h2>Welcome! Choose an option below:</h2>

<div class="row empPortal">
    <div class="col-md-12 portalOption">
        <a class="btn btn-default portalButton">@Html.ActionLink("Reports", "#", new { @class ="btn" })</a>
    </div>

    <div class="col-md-12 portalOption">
        <button class="btn btn-default portalButton">@Html.ActionLink("Employee", "#")</button>
    </div>
</div>

